
/* p.especial{
    color: black; 
} /* Restaura cor do especial */

/* seletor de negação */

/* p:not(.especial) {
    color: gray;
} */ 

#inicio {
    margin: 5px 0;
    padding: 10px;
    width: 100px;
    border-radius: 50px;
    box-shadow: inset 0 0 8px #999;
}