
/* p.especial{
    color: black; 
} /* Restaura cor do especial */

/* seletor de negação */

/* p:not(.especial) {
    color: gray;
} */ 

p {
    color: navy;
    font-size: 12px;
}

p {
    font-size: 16pt;
}
